.header {
    background-color: #24292e;
    grid-area: h;
    position: fixed;
    width: 100%;
}
.logoImage {
    float: left;
    padding: 10px;
    margin-left: 15px;
}

.logoImage img {
    padding-top: 5px;
   height: 40px;
   width: 200px;
}
.itemLink {
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    color: #fff;
    padding-left: 15px;
}
.itemLink a, a:link, a:visited, a:focus, a:active{
    color:white;
    text-decoration:none; 
    cursor: pointer;
  }
.itemLink a:hover {
    color: gray;
    cursor: pointer;
}
.nav {
    position: relative;
    text-align: center;
    margin-top: 25px;
    margin-right: 200px;
}
.authBlock {
    float: right;
    margin-top: -25px;
}
.authBlock div {
    float: left;
    clear: none;
    padding-right: 10px;
    
}
.profile {
  display: inline-flex;
  align-items: normal;
  margin-right: 20px;
  margin-top: 3px;
}
.profile:hover {
   cursor: pointer;
  }